*{margin:0px;padding:0px;}
body{text-align:center;}
#event{display:inline-block;height:20%;width:49%;text-align:center;}
#map{display:inline-block;height:20%;width:49%;text-align:center;}
#img{display:inline-block;width:49%,height:10%}
#title{display:inline-block;width:49%,height:10%text-align:center;margin-left:49%;position:absolute;}